*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#fafafa;
overflow-x:hidden;
color:#333;
}

header{

padding:25px 8%;
position:fixed;
width:100%;
top:0;
z-index:999;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

background:rgba(255,255,255,.5);

backdrop-filter:blur(20px);

padding:15px 30px;

border-radius:50px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.logo{

font-weight:700;
font-size:22px;
color:#ff7eb6;

}

nav ul{

display:flex;
gap:35px;
list-style:none;

}

nav a{

text-decoration:none;
color:#444;
transition:.3s;

}

nav a:hover{

color:#ff7eb6;

}

.hero{

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 8%;

gap:50px;

}

.left{

width:55%;

}

.badge{

background:#FFF6BF;

padding:10px 18px;

border-radius:50px;

display:inline-block;

font-size:14px;

margin-bottom:25px;

}

h1{

font-size:65px;

line-height:1.1;

margin-bottom:20px;

}

p{

font-size:18px;

color:#666;

line-height:1.8;

max-width:650px;

}

.buttons{

margin-top:40px;

display:flex;

gap:20px;

}

.btn{

padding:15px 30px;

border-radius:50px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.primary{

background:linear-gradient(135deg,#FFD93D,#FF7EB6);

color:white;

}

.secondary{

background:white;

box-shadow:0 10px 30px rgba(0,0,0,.1);

color:#444;

}

.btn:hover{

transform:translateY(-5px);

}

.right{

width:45%;

display:flex;

justify-content:center;

}

.card{

background:rgba(255,255,255,.6);

backdrop-filter:blur(25px);

padding:30px;

border-radius:30px;

box-shadow:0 30px 50px rgba(0,0,0,.08);

text-align:center;

animation:float 4s ease-in-out infinite;

}

.card img{

width:280px;

border-radius:25px;

}

.card h3{

margin-top:20px;

font-size:28px;

}

.card p{

font-size:15px;

}

.blob{

position:absolute;

border-radius:50%;

filter:blur(70px);

opacity:.5;

animation:move 12s infinite alternate;

}

.blob1{

width:300px;

height:300px;

background:#FFD93D;

top:-80px;

left:-80px;

}

.blob2{

width:280px;

height:280px;

background:#6EC6FF;

right:-50px;

top:250px;

}

.blob3{

width:240px;

height:240px;

background:#FF7EB6;

bottom:0;

left:45%;

}

.scroll{

position:absolute;

bottom:25px;

left:50%;

transform:translateX(-50%);

animation:bounce 2s infinite;

font-size:14px;

color:#999;

}

@keyframes float{

50%{

transform:translateY(-15px);

}

}

@keyframes bounce{

50%{

transform:translate(-50%,-8px);

}

}

@keyframes move{

100%{

transform:translate(50px,-50px);

}

}

@media(max-width:900px){

.hero{

flex-direction:column-reverse;

text-align:center;

padding-top:120px;

}

.left,.right{

width:100%;

}

h1{

font-size:45px;

}

.buttons{

justify-content:center;

}

nav ul{

display:none;

}

}
